$main-font: 'Asap', 'Helvetica', sans-serif;
$main-font-size: 18px;
$mobile-main-font-size: 20px;
$main-font-weight: normal;
$main-line-height: 1.4em;
$headings-font: 'Playfair Display', 'Cambria', serif;
$headings-text-transform: none;
$headings-font-weight: bold;
$hyphenate: auto;
$p-text-align: justify;
$accent-color: #d73d4b;
$text-color: #484444;
$main-background-color: #fdfdfd;
$link-color: #d73d4b;
$link-hover-color: #484444;
$container-width: 70%;
$container-max-width: 900px;
$container-padding: 20px;
$title-box-padding: 20px;
$logo-max-width: 150px;
$font-break: 700px;
$title-box-break: 1000px;
$nav-break: 800px;
$header-image: '../assets/dlanor-s-654085-unsplash.jpg';
$home-header-ratio-width: 16;
$home-header-ratio-height: 7;
$post-header-ratio-width: 3;
$post-header-ratio-height: 1;
$page-header-ratio-width: 6;
$page-header-ratio-height: 1;
$image-dark: false;
$title-background-box: true;
