html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.navbar .navtrigger,
.navbar .navclose,
.navbar .navigation ul > li.parent span, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

/* How tu use this mixin:
 * include on the parent container argumemts are as follows:
 * 1. selector: add the complete css selector, as a string
 * 2. items per row: how many items are in a row max.
 * 3++. to make this responsive add breakpoints, separating with a comma, the mixin automatically reduces by 1.
 */
body, html {
  width: 100%;
  font-family: "Asap", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4em;
  color: #484444;
  background: #fdfdfd; }
  @media screen and (max-width: 700px) {
    body, html {
      font-size: 20px; } }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify; }
  p + p {
    margin-top: .84em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Cambria", serif;
  text-transform: none;
  font-weight: bold;
  text-align: left; }
  @media screen and (max-width: 700px) {
    h1, h2, h3, h4, h5, h6 {
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; } }

h1 {
  font-size: 2em;
  line-height: 1.05;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem; }

h2 {
  font-size: 1.75em;
  line-height: 1.25;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem; }

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem; }

h4 {
  font-size: 1.125em;
  line-height: 1.22;
  margin-bottom: 0.25rem;
  margin-top: .5rem; }

h5 {
  font-size: 1.1em;
  margin-bottom: 0.15rem;
  margin-top: .3rem; }

h6 {
  font-size: 1em;
  margin-bottom: 0.125rem;
  margin-top: .25rem; }

img {
  max-width: 100%;
  height: auto; }

.image {
  height: 60vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  margin: 1.5rem 0 !important; }
  .image img {
    width: 100%; }

a, .navbar .navtrigger,
.navbar .navclose, .navbar .navigation ul > li.parent span {
  text-decoration: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: #d73d4b;
  cursor: pointer; }
  a:hover, .navbar .navtrigger:hover,
  .navbar .navclose:hover, .navbar .navigation ul > li.parent span:hover {
    color: #484444; }

table {
  text-align: left;
  line-height: 1.1;
  width: 100%; }
  table th {
    font-family: "Playfair Display", "Cambria", serif; }
  table td, table th {
    border-right: 1px solid #E3E4E4;
    padding: 5px; }
    table td:last-of-type, table th:last-of-type {
      border-right: 0px solid transparent; }
  table thead {
    border-bottom: 2px solid #484444; }
  table tr {
    border-bottom: 1px solid #E3E4E4; }
  table tr:last-of-type {
    border-bottom: 0px solid transparent; }

.container {
  display: block;
  position: relative;
  margin: 0px auto;
  max-width: 900px;
  width: 70%;
  padding: 20px; }

.container-wide {
  max-width: 1600px; }

article {
  padding: 10px;
  margin: 10px auto; }

.feat-img {
  position: relative;
  width: 100%;
  height: 0;
  padding: 33.3333333333% 0 0 0;
  display: block; }
  .feat-img .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .feat-img .background {
    background-position: center;
    background-size: cover; }

.meta-data {
  margin: 10px 0;
  font-size: .9em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Playfair Display", "Cambria", serif;
  opacity: .8;
  padding: 5px 0; }

.post-info .title h1 {
  font-family: "Asap", "Helvetica", sans-serif;
  margin-top: 0;
  margin-bottom: 0; }
.post-info .title h2 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.3em; }

.tags span {
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 1px;
  line-height: 1;
  margin: 2px; }

.btn {
  cursor: pointer;
  background: #d73d4b;
  color: black;
  padding: 5px 7px;
  margin: 10px 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  display: inline-block; }
  .btn:hover {
    background: #484444;
    color: white; }

.wide {
  display: block;
  width: calc(100% + 10vw);
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw); }

.numbered-headings {
  counter-reset: h1; }
  .numbered-headings h1.nocount:before, .numbered-headings .title-wrapper h1:before,
  .numbered-headings h2.nocount:before,
  .numbered-headings .title-wrapper h2:before,
  .numbered-headings h3.nocount:before,
  .numbered-headings h4.nocount:before,
  .numbered-headings h5.nocount:before,
  .numbered-headings h6.nocount:before {
    content: "";
    counter-increment: none; }
  .numbered-headings h1 {
    counter-reset: h2; }
  .numbered-headings h2 {
    counter-reset: h3; }
  .numbered-headings h3 {
    counter-reset: h4; }
  .numbered-headings h4 {
    counter-reset: h5; }
  .numbered-headings h5 {
    counter-reset: h6; }
  .numbered-headings h1:before {
    counter-increment: h1;
    content: counter(h1) ". "; }
  .numbered-headings h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "; }
  .numbered-headings h3:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". "; }
  .numbered-headings h4:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "; }
  .numbered-headings h5:before {
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }
  .numbered-headings h6:before {
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "; }

.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fdfdfd;
  z-index: 999;
  -webkit-transition: .3s all ease;
  transition: .3s all ease; }
  .navbar .brand img {
    max-width: 150px; }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar .navtrigger,
  .navbar .navclose {
    display: none; }
    @media screen and (max-width: 800px) {
      .navbar .navtrigger,
      .navbar .navclose {
        display: block; } }
  .navbar .navigation {
    background: #fdfdfd; }
    .navbar .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .navbar .navigation ul > li {
        list-style: none;
        margin: 0;
        padding: 5px 10px; }
        @media screen and (min-width: 801px) {
          .navbar .navigation ul > li {
            display: inline-block; } }
        .navbar .navigation ul > li.active {
          border-bottom: #d73d4b; }
        .navbar .navigation ul > li.parent {
          position: relative; }
          .navbar .navigation ul > li.parent span {
            position: relative;
            padding-right: 10px; }
            .navbar .navigation ul > li.parent span:after {
              content: '';
              position: absolute;
              right: 0;
              top: 40%;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: #484444 transparent transparent transparent;
              border-width: 5.19615px 3px; }
          .navbar .navigation ul > li.parent ul {
            display: none; }
            .navbar .navigation ul > li.parent ul.active {
              display: block; }
            @media screen and (min-width: 801px) {
              .navbar .navigation ul > li.parent ul {
                position: absolute;
                top: 100%;
                left: 0;
                width: auto;
                background: #fdfdfd; }
                .navbar .navigation ul > li.parent ul li {
                  white-space: nowrap; } }
    .navbar .navigation a, .navbar .navigation .navtrigger,
    .navbar .navigation .navclose, .navbar .navigation ul > li.parent span {
      color: #484444; }
      .navbar .navigation a:hover, .navbar .navigation .navtrigger:hover,
      .navbar .navigation .navclose:hover, .navbar .navigation ul > li.parent span:hover {
        color: #d73d4b; }
    @media screen and (max-width: 800px) {
      .navbar .navigation {
        position: fixed;
        width: 300px;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: translate(-100%);
                transform: translate(-100%);
        -webkit-transition: .3s all ease;
        transition: .3s all ease; }
        .navbar .navigation.active {
          -webkit-transform: translate(0);
                  transform: translate(0); }
        .navbar .navigation li {
          display: block; }
          .navbar .navigation li.parent li {
            padding-left: 10px; } }

.home header {
  position: relative;
  width: 100%;
  height: 0;
  padding: 43.75% 0 0 0;
  display: block; }
  .home header .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
.page header {
  position: relative;
  width: 100%;
  height: 0;
  padding: 16.6666666667% 0 0 0;
  display: block; }
  .page header .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
.post header {
  position: relative;
  width: 100%;
  height: 0;
  padding: 33.3333333333% 0 0 0;
  display: block; }
  .post header .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
header .background {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/dlanor-s-654085-unsplash.jpg"); }

.title-container {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  text-align: right; }
  .no-header .title-container {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative;
    text-align: center; }
  @media screen and (max-width: 1000px) {
    .title-container {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      position: relative;
      text-align: center; } }

.title-wrapper {
  position: relative;
  bottom: 0;
  line-height: 1;
  z-index: 2;
  margin: 0;
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block; }
  @media screen and (min-width: 1001px) {
    .title-wrapper {
      background: rgba(255, 255, 255, 0.4);
      color: black;
      padding: 20px; } }
  .no-header .title-wrapper {
    background: transparent;
    color: inherit;
    padding: 0; }
  .title-wrapper h1 {
    margin: 0;
    width: auto;
    display: inline-block;
    font-family: "Asap", "Helvetica", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    font-size: 3em; }
  .title-wrapper h2 {
    font-family: "Playfair Display", "Cambria", serif;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    font-size: 2em; }

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .container span {
    padding: 10px; }

div.highlighter-rouge {
  margin: 20px;
  background: #343c42;
  color: #c1c3c3;
  font-family: "Ubuntu Mono", monospace;
  padding: 10px; }

code.highlighter-rouge {
  background: #fafafa;
  border: 1px solid rgba(72, 68, 68, 0.2);
  padding: 0 3px;
  border-radius: 3px;
  white-space: pre;
  font-family: "Ubuntu Mono", monospace; }

.highlight {
  overflow-x: auto;
  max-width: 100%; }
  .highlight code,
  .highlight pre {
    background: #343c42;
    color: #c1c3c3; }
  .highlight .hll {
    background-color: #ffeacc; }
  .highlight .gd {
    color: #2e3635;
    background-color: #0e1615; }
  .highlight .gr {
    color: #eeedec;
    background-color: #cc0055; }
  .highlight .gi {
    color: #bdbdb6;
    background-color: #1f2d29; }
  .highlight .go {
    color: #2c3232; }
  .highlight .kt {
    color: #e6e7df; }
  .highlight .ni {
    color: #8a8a85; }
  .highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #959684;
    font-style: italic; }
  .highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .p, .highlight .ge,
  .highlight .gp, .highlight .gs, .highlight .gt, .highlight .ld, .highlight .s, .highlight .nc, .highlight .nd,
  .highlight .ne, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py, .highlight .ow, .highlight .w, .highlight .sb,
  .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr,
  .highlight .s1, .highlight .ss, .highlight .bp {
    color: #c1c3c3; }
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr,
  .highlight .nt {
    color: #72c6cf; }
  .highlight .cp, .highlight .gh, .highlight .gu, .highlight .na, .highlight .nf {
    color: #e9674b; }
  .highlight .m, .highlight .nb, .highlight .no, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
  .highlight .il {
    color: #d3e234; }
  .highlight .o {
    color: #98a5aa; }
  .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: white; }
